@import url("<https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css>");
:root {
  --font-stack: Helvetica, sans-serif;
}

* {
  font-family: var(--font-stack);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 255, 254);
}

.social {
  color: #fff;
}

.text-under-wheel {
  font-size: 3vw;
}